{% extends 'shared/content.html' %}

{% block data %}
    <p class="uk-text-meta">Select the instances on which you'd like to run a command.</p>
    <form method="POST">
        <table class="uk-table uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th>Instance ID</th>
                    <th>Instance Name</th>
                    <th>Region</th>
                    <th><input class="uk-checkbox" onclick="toggle(this)" type="checkbox" uk-tooltip="Select all"></th>
                </tr>
            </thead>
            <tbody>
                {% for instance in instances %}
                    <tr class="clickable">
                        <td>{{ instance.instance_id }}</td>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.region }}</td>
                        <td><input class="uk-checkbox" name="instances" type="checkbox" value="{{ instance.instance_id }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if get_flashed_messages() %}
            <button class="uk-button uk-button-primary uk-button-large uk-position-small uk-position-bottom-right uk-position-fixed" name="gather_instances" type="submit" disabled>Next</button>
        {% else %}
            <button class="uk-button uk-button-primary uk-button-large uk-position-small uk-position-bottom-right uk-position-fixed" name="gather_instances" onclick="loading()" type="submit">Next</button>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function toggle(source) {
            input_elements = document.getElementsByTagName('input');

            for (var element in input_elements) {
                if (input_elements[element].type == 'checkbox' && 
                input_elements[element].parentElement.parentElement.style['cssText'] != "display: none;") {
                    input_elements[element].checked = source.checked;
                }
            }
        }
    </script>
    <script>
        $(document).ready(function(){        
            $('.clickable').click(function() {
                ele = $(this).find('td input:checkbox')[0];
                ele.checked = ! ele.checked;
            });
            $('input:checkbox').click(function(e){
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
