<!DOCTYPE html>

<head>
    {% if service %}
        <title>cloud browser - {{ service }}</title>
    {% else %}
        <title>cloud browser</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/" uk-icon="icon: home; ratio: 1.75"></a></li>
            <li><a href="/settings" uk-icon="icon: cog; ratio: 1.75"></a></li>
        </ul>
    </div>
</nav>

{% for category, message in get_flashed_messages(with_categories = true) %}
    {% if category == 'error' %}
        <div class="uk-alert-danger" uk-alert>
    {% elif category == 'success' %}
        <div class="uk-alert-success" uk-alert>
    {% elif category == "warning" %}
        <div class="uk-alert-warning" uk-alert>
    {% else %}
        <div class="uk-alert-primary" uk-alert>
    {% endif %}
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
        </div>
{% endfor %}

<section class="uk-container uk-margin-medium-top">
    {% block content %}
    {% endblock %}
</section>

<script src="{{ url_for('static', filename = 'js/uikit.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/uikit-icons.min.js') }}"></script>

{% block scripts %}
{% endblock %}
