li {
    list-style: none;
    width: 75%;
}

#loader {
    display: none;
    z-index: 1011; /* 1 greater than the uikit modal z-index */
}

.command-input {
    font-family: Consolas,monaco,monospace;
}

.instance-id-label {
    text-transform: lowercase;
}

.service-information {
    margin: 0 auto;
    width: 85%;
}

.service-name {
    float: right;
    position: relative;
}

.service-thumbnail {
    float: left;
    height: 2.2em;
    margin-top: 0.25em;
    width: 2.2em;
}

.service-tile {
    padding: 10px;
    width: 15em;
}

.settings-label {
    text-transform: none;
}

.ssm-command-result {
    white-space: pre-line;
}

.ssm-command-result-icon {
    float: right;
    margin-top: -40px;
}

.uk-alert {
    margin-bottom: 0;
    margin-top: 0;
}

.uk-text-meta a {
    color: #1e87f0;
}

.clickable {
    cursor: pointer;
}
