{% extends 'layout.html' %}

{% block content %}
    <h2 class="uk-text-light uk-heading-divider">Life Cycle Hooks</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Auto Scaling Group</th>
                <th>Lifecycle Hooks</th>
            </tr>
        </thead>
        <tbody>
            {% for auto_scaling_group in auto_scaling_groups %}
                <tr>
                    <td>{{ auto_scaling_group.auto_scaling_group_name }}</td>
                    <td>
                        {% for lifecycle_hook in auto_scaling_group.lifecycle_hooks %}
                            <span class="uk-label instance-id-label">{{ lifecycle_hook.lifecycle_hook_name }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
