{% extends 'shared/layout.html' %}

{% block content %}
    <h2 class="uk-text-light uk-heading-divider">{{ content_title }}</h2>

    {% if show_refresh %}
        <form method="GET">
            <button class="uk-button uk-button-link uk-button-small uk-float-right" name="refresh" onclick="loading()" type="submit" uk-tooltip="Refresh results">
                <span uk-icon="refresh"></span>
            </button>
        </form>
    {% endif %}

    {% if show_filter %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <input id="filter-input" class="uk-input uk-form-width-small" type="text" placeholder="Filter Items...">
        <script>
            $(document).ready(function(){       
                $("#filter-input").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $(".uk-table tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    {% endif %}

    {% block data %}
    {% endblock %}
{% endblock %}

{% block scripts %}
{% endblock %}
